
.trails-main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trails-text {
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  /*color: palevioletred;*/
  color:white;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
  text-shadow: 0 0 15px silver;
}

.trails-text > div {
  overflow: hidden;
}



.hero-arrow {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
  color: white;
  opacity: 0.8;
  font-weight: 300;
}

.hero-arrow:hover {
  opacity: 1;
  color: white;
  text-shadow: 0 0 5px silver;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
}




/*
@media (pointer: coarse) {
  .herofull {
    background-attachment: initial !important;
  }
}

@media only screen and (max-width: 1024px) and (max-resolution: 191dpi) {
  .herofull {
    background-image: url(images/bg-hero-1024.jpg);
  }
}

@media only screen and (max-width: 1024px) and (min-resolution: 192dpi) {
  .herofull {
    background-image: url(images/bg-hero-1920.jpg);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1600px) and (max-resolution: 191dpi) {
  .herofull {
    background-image: url(images/bg-hero-1600.jpg);
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1920px) and (max-resolution: 191dpi) {
  .herofull {
    background-image: url(images/bg-hero-1920.jpg);
  }
}

@media only screen and (min-width: 1025px) and (min-resolution: 192dpi),
  screen and (min-width: 1921px) {
  .herofull {
    background-image: url(images/bg-hero-3200.jpg);
  }
}*/