.whyme-header {
	text-align: left;
	color: white;
	font-weight: 300;
	font-size: 100px;
}
.whyme-header2 {
	padding-top: 15px;
	text-align: right;
	color: white;
	font-weight: 300;
	font-size: 35px;
}

.whyme {
	max-width: 900px;
	margin: 0 auto;
	width: 100%; 
}

.whymefull {
	background-color: #464646;

}

