.about-header {
  text-align: left;
  color: white;
  font-weight: 300;
  font-size: 100px;
}

.about-header2 {
  padding-top: 50px;
  text-align: right;
  color: white;
  font-weight: 300;
  font-size: 35px;
}

.about-contents-header {
  font-size: 35px;
  opacity: 0.8;
  text-shadow: 0 0 5px silver;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.about-contents-header:hover {
  opacity: 1;
  color: white;
  text-shadow: 0 0 5px silver;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
}

.highlight {
  font-weight: 600;
  text-shadow: 0 0 10px cyan;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.about-card {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px;
  color: white;
  font-weight: 300;
  font-size: 18px;
  text-align: justify;
}

.about-card p {
  padding-left: 0px;
  padding-right: 10px;
}

.about {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.aboutfull {
  background-color: #232323;
  height: 100%;
  background-size: cover;
}